<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign-up page</h1>
    <form action="" method="post">
        <input type="text" name="username">Enter name here
        <br>
        <input type="password" name="password">Enter your password
        <br>
        <div id="div-role">
            <p>Choose your role</p>
            <ul>
                <li>
                    <input type="radio" name="role" value="student" id="student">
                    <label for="student">Student</label>
                </li>
                <li>
                    <input type="radio" name="role" value="teacher" id="teacher">
                    <label for="teacher">Teacher</label>
                </li>
            </ul>
        </div>
        <div id="div-warning">{{warning}}</div>
        <button type="submit" name="btn" value="sign up">SIGN UP</button>
        <br>
        <button type="submit" name="btn" value="log in">LOG IN</button>
    </form>
</body>
</html>